*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
}
.loader{
    width: 200px;
    height: 200px;
    position: relative;
   
}
.loader span{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.loader span:nth-child(1){
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    z-index: 2;
    border-top: 0.25px solid rgba(255,255,255,0.5);
    border-left: 0.25px solid rgba(255,255,255,0.5);
}
.loader span:nth-child(2){
    background-color: #26ff00;
    box-shadow: 0 0 5px #26ff00,0 0 15px #26ff00,0 0 30px #26ff00;
    animation: rotate 4s ease-in-out infinite;
}
.loader span:nth-child(3){
    background-color: #fafdfd;
    border-radius: 0;
    box-shadow: 0 0 5px #fafdfd,0 0 15px #fafdfd,0 0 30px #fafdfd;
    animation: rotate 4s ease-in-out infinite;
    animation-delay: -2s;

}
 @keyframes rotate {
    0%{
        transform: translate(-150px,50px) scale(0.4) rotate(0);
        z-index: 1;
    }
    50%{
        transform: translate(150px,-50px) scale(0.4) rotate(180deg);
        z-index: 1;
    }
    50.0001%{
        transform: translate(150px,-50px) scale(0.4) rotate(180deg);
        z-index: 3;
    }
    100%{
        transform: translate(-150px,50px) scale(0.4) rotate(360deg);
        z-index: 3;
    }
 }